/* Container styling */
*{
  font-family: "Playwrite NZ Guides", cursive;
}

body {
    background: linear-gradient( to right, rgba(255,50,30,0), rgb(61, 43, 2));
   
    }


form {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  padding-right: 50px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  background: transparent;
  box-shadow: 4px 4px 10px rgb(9, 7, 7), 4px 4px 10px rgb(239, 244, 244), 4px 4px 10px rgb(40, 136, 136);
}

/* Heading */
 .admin-form h2 {
  margin-bottom: 20px;
  color: rgb(19, 1, 1);
  font-size: 24px;
  font-weight: bold;
  
}
.product-card{
  box-shadow: 4px 4px 10px rgb(9, 7, 7), 4px 4px 10px rgb(239, 244, 244), 4px 4px 10px rgb(27, 80, 80);
  width:400px;
  background: transparent;

}
/* Input fields */
form input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;

  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

form input:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74,144,226,0.5);
}

/* Login button */
form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #0450a8;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

form button:hover {
  background: #0450a8;
}

/* Optional: spacing reset for <br> usage */
form br {
  line-height: 0;
}

.admin-list{
  display:flex;
  flex-wrap: wrap;
  gap:20px;
  box-sizing: border-box;
}


button{
  padding:15px;
  background:#0450a8;
  color:white;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
   box-shadow: 4px 4px 10px rgb(9, 7, 7), 4px 4px 10px rgb(239, 244, 244), 4px 4px 10px rgb(40, 136, 136);
}

button:hover{
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
}

h3{
  font-size: 1.5rem;
}

h4 {
font-size: 1.1rem;
}
p{
font-size: 1.1rem;
font-weight: bold;
}