*{
  font-family: "Playwrite NZ Guides", cursive;
}

body {
    background: linear-gradient( to right, rgba(255,50,30,0), rgb(61, 43, 2));
   
    }

form {
  width: 350px;
  margin: 80px auto;
  padding: 30px;
  padding-right: 50px;
  background: #f19d9d;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  box-shadow: 4px 4px 10px rgb(250, 249, 249), 4px 4px 10px rgb(239, 244, 244), 4px 4px 10px rgb(239, 244, 244);
}

/* Heading */
form h2 {
  margin-bottom: 20px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  
}

h3{
     color: white;
}


/* Input fields */
form input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;

  border: 1px solid #fbfbf7;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

form input:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74,144,226,0.5);
}

/* Login button */
form button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

form button:hover {
  background: #357ab8;
}

/* Optional: spacing reset for <br> usage */
form br {
  line-height: 0;
}
